Source: kamelasa
Section: net
Priority: optional
Maintainer: Lee Meichin <me@mrlee.dev>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.4.1
Homepage: https://www.kamelasa.dev
#Vcs-Git: https://git.sr.ht/~mrlee/www.kamelasa.dev

Package: kamelasa
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Static site builder for kamelasa.dev, based on Hakyll
